<!DOCTYPE html>
<html>
<head>
    <title>My Home Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Where are you?</h1>
    <form action="/chat" method="post">
      <label for="user_input">Enter location to get information:</label><br>
      <input type="text" id="user_input" name="user_input"><br>
      <input type="submit" value="Submit">
    </form>
    {% if ward_response %}
      <div>{{ ward_response | safe }}</div>
    {% endif %}
</body>
</html>